* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}

body {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 237, 126, 0.594);
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  min-height: 700px;
  gap: 5px;
}

input {
  padding: 8px;
  border: 2px solid rgb(214, 216, 155);
  border-radius: 7px;
  margin-bottom: 10px;
}

li {
  border: 2px solid rgb(214, 216, 155);
  background-color: rgb(227, 230, 172);
  text-align: center;
  width: 30%;
  border-radius: 7px;
}
