* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-bottom: 15px;
}

input {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 12px;
}
button {
  margin-top: 15px;
  border: 1px lightgray;
  padding: 8px;
  border-radius: 12px;
}
