@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: cornflowerblue;
}

.sunnyImg {
  width: 20%;
  animation: bounce 1s linear;
  margin-bottom: 15px;
}

.sunnyImg:hover {
  animation: bounce 1s linear;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meteoModal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 350px;
  height: 170px;
  font-family: "Montserrat", sans-serif;
}

.button1 {
  border: none;
  border-radius: 12px;
  text-align: center;
  width: 100px;
  height: 30px;
  font-family: "Open Sans", sans-serif;
}

.provaMeteo {
  text-align: center;
  width: 150%;
  height: 30px;
  padding: 3px;
  border: none;
  border-radius: 9px;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: cornflowerblue;
  }

  .sunnyImg {
    width: 20%;
    animation: bounce 1s linear;
    margin-bottom: 15px;
  }

  @keyframes bounce {
    20%,
    50%,
    80%,
    to {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    70% {
      transform: translateY(-15px);
    }
    90% {
      transform: translateY(-4px);
    }
  }

  .mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .meteoModal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 350px;
    height: 170px;
    font-family: "Montserrat", sans-serif;
  }

  .button1 {
    border: none;
    border-radius: 12px;
    text-align: center;
    width: 100px;
    height: 30px;
    font-family: "Open Sans", sans-serif;
  }

  .provaMeteo {
    text-align: center;
    width: 150%;
    height: 30px;
    padding: 3px;
    border: none;
    border-radius: 9px;
    font-family: "Open Sans", sans-serif;
  }
}
