@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  text-decoration: none;
  color: inherit;
}
/* **********MEDIA QUERY********** */

/* @media only screen and (max-width: 768px) {
  /* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 25px;
  }

  .navbar__links p {
    margin-top: 15px;
  }

  .navbar__search input {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #logo-70 {
    margin-bottom: 10px;
  }

  #root {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modalCart {
    position: absolute;
    top: 205px;
    right: -800px;
    width: 300px;
    height: 100%;
    /* background: transparent; */
/* backdrop-filter: blur(15px);
  transition: right 0.35s ease-in-out;
  z-index: 3; */
/* } */
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  body {
    padding: 15px;
    margin: 0 40px;
    background-color: rgb(87, 117, 144);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
  }

  .navbar__links {
    display: flex;
    list-style-type: none;
    gap: 15px;
  }

  .navbar__search input {
    border: 1px;
    border-radius: 8px;
    padding: 5px;
    width: 200px;
  }

  .navbar__links p {
    background-color: lightgray;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.5s;
  }

  .navbar__links a {
    text-decoration: none;
    color: inherit;
  }

  .navbar__links p:hover {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.5s;
  }

  .navbar__user {
    display: flex;
    list-style-type: none;
    gap: 15px;
    cursor: pointer;
  }

  .navbar__user p {
    background-color: lightgray;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.5s;
  }

  .navbar__user p:hover {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
  }

  /* HERO */

  .hero {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-bottom: 15px;
  }

  .hero img {
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    height: 300px;
  }

  .hero__content {
    position: absolute;
    margin: 0 80px;
    top: 100px;
    width: 50%;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
  }

  .hero__content button {
    border: 1px;
    margin-top: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: black;
    cursor: pointer;
    opacity: 1;
  }

  .hero__content button:hover {
    background-color: grey;
    transition: all 1s;
  }

  .filt__line {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 15px;
    /* border: 1px solid red; */
  }

  .filt__line p {
    background-color: rgb(235, 237, 236);
    /* border-radius: 12px; */
    padding: 10px;
    cursor: pointer;
  }

  .filt__line button {
    border: 1px;
    border-radius: 12px;
    padding: 7px;
    cursor: pointer;
  }

  .filt__line p:hover {
    background-color: #fff;
    transition: all 0.5s;
  }

  .ul__filters {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
    gap: 10px;
  }

  .categories {
  }

  #root {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-x: scroll;
    cursor: grab;
    scroll-snap-type: x mandatory;
  }

  .productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: rgb(126, 136, 152);
    scroll-snap-align: start;
    /* border: 1px solid red; */
  }

  .productCard p {
    padding: 10px;
  }

  .productCard img {
    width: 200px;
    height: 130px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }

  .productCard button {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.8;
  }

  .productCard button:hover {
    background-color: white;
    transition: 0.5s ease-in-out;
    opacity: 1;
  }

  #category {
    border: none;
    background-color: #fff;
  }

  .modalProduct {
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    height: 600px;
  }

  .modalProduct img {
    width: 100%;
    height: 100%;
  }

  .modalMainWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .galleryImages {
    width: 100%;
    height: 330px;
    border: 1px solid;
    border-radius: 6px;
    margin-bottom: 40px;
  }

  .btnWrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    gap: 20px;
  }

  .numProducts {
    width: 100px;
    height: 22px;
    border-radius: 5px;
    text-align: center;
  }

  /* .addItemsWrap {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    gap: 20px;
  } */

  .backgroundLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid red;
    width: 100vh;
    height: 100vh;
    /* z-index: 1; */
    background-color: white;
    opacity: 0.5;
  }

  .modalRemove {
    position: absolute;
    border: 1px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    top: 0;
    right: 0;
    color: black;
    padding: 15px;
  }

  .modalCart {
    position: fixed;
    top: 105px;
    right: -800px;
    width: 300px;
    height: 100vh;
    /* min-height: 800px; */
    overflow-y: scroll;
    background-color: #ffffff00;
    backdrop-filter: blur(15px);
    transition: right 0.35s ease-in-out;
    z-index: 3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 15px;
  }

  .cartActive {
    right: 25px;
  }

  .mainCartItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
  }

  .mainCartItem button {
    padding: 5px;
    border: none;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
  }

  .itemCartImg {
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }

  .mainCartTextWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
